*{
    font-family: cursive;
}
/* indexpage */

#indexJumbotron{
    padding: 30px;
    position: absolute;
    margin-top: 30px;
    width: 100%;
    z-index: 5;

}
#indexJumbotron h1{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 40px;
    color: rgb(189, 251, 4);
}
#indexJumbotron p{
    font-size: 18px;

    color: rgb(237, 19, 8);
    text-shadow: 5px 5px 15px #000;
}


#carouselExampleAutoplaying img{
    height: 80vh;
}

/* events */

#event-head, #event-head2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
}
#event-head h1, #event-head2 h1{
    color: rgb(189, 251, 4);
    font-weight: 600;
}

#event-list .col img{
    width: 100%;
    height: 200px;
}

/* contact */

#contactSection{
    height: 70vh;

    border-radius: 10px;
    margin: 100px;
   
}
#contactSection h2{
     color: rgb(189, 251, 4);
    text-align: center;
    margin-top: 20px;
    font-weight: 600;
}
#contactSection form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
    
}
#contactSection form input{
    width: 400px;
    background-color: #308172;
    height: 50px;
    border-radius: 15px;
    padding: 10px;
    color: #fff;
    border: none;
    transition: all 0.2s ease;
}
#contactSection form input:hover{
    width: 410px;
}
#contactSection form ::-webkit-input-placeholder{
    color: #e4d6d6;
}
#contactSection form .form-question{
    display: flex;
    width: 100px;
    align-items: center;
    justify-content: center;
    gap: 20px;  
}
#contactSection form .form-question input{
    height: 18px;
}

#contactSection form button{
    padding: 10px 50px;
    border-radius: 15px;
    background-color: rgb(7, 68, 52);
    color: #fff;
    border: none;

}
#contactSection form button:hover{
    background-color: rgb(18, 98, 77); 
}

/* about us */

/* About Us Section */
.about-us {
    padding: 50px 20px;
    background-color: #fff;
}

.about-us h2 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
    color: rgb(189, 251, 4);
}

.about-us p {
    font-size: 18px;
    margin-bottom: 20px;
}

.about-us ul {
    margin-left: 20px;
    list-style: disc;
}

.about-us ul li {
    font-size: 18px;
    margin-bottom: 10px;
}

.about-us h3 {
    font-size: 29px;
    color: rgb(189, 251, 4);
    margin-top: 30px;
}